{
  "presets": ["react", "env", "stage-0"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "development": {
      "presets": ["react", ["env", { "modules": false }], "stage-0" ]
    },
  }
}
