.Main {
  color: white;
  background-image: linear-gradient(rgb(108, 79, 45), rgb(10, 7, 4) 85%);
  width: 100%;
  height: 100vh;
  padding-bottom: 120px;
  background-size: cover;
}

.Main__section {
  height: 100%;
  padding-left: 220px;
}
