.Playbar {
  background-color: #282828;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 36px;
  }
}

.Playbar__img--album-art {
  height: 60px;
  width: auto;
}
