.Search {

}

.Search__label {
  background-color: transparent;
  font-size: 14px;
}

.Search__input {
  background-color: transparent;
  font-size: 48px;
  font-weight: 700;
  width: 100%;
}

.Search__section {
  width: 100%;
  background-color: #282828;
  padding: 32px 2em;
}
