.Sidebar {
  width: 180px;
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  position: fixed;
}

.Sidebar__ul {

}

.Sidebar__li {

}

.Sidebar__link--username {
  position: absolute;
  top: 25%;
}

.Sidebar__section {
  position: relative;
}

.Sidebar__link--nav {
  color: grey;
  font-weight: bold;
}

.Sidebar__link--nav--active {
  color: #1db954;
}

.Sidebar__img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
}
