.Sidebar {
  width: 20%;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Sidebar__ul {

}

.Sidebar__li {

}

.Sidebar__link--username {
  
}

.Sidebar__link--nav {

}
